.tasks {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.tasks span {
  flex: 1;
  cursor: pointer;
}
.tasks button {
  background-color: #009688;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}